.custom-checkbox-group {
    display: grid;
    margin-bottom: 24px;
    grid-template-columns: 1fr 1fr;
}

.custom-checkbox-group--hide {
    grid-template-columns: 1fr;
}

.custom-checkbox-legend {
    margin-bottom: 16px;
    user-select: none;
}

.custom-checkbox__field {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 10px;
    height: 10px;
}

.custom-checkbox {
    height: 14px;
    display: flex;
    gap: 10px;
    padding-left: 24px;
    position: relative;
    cursor: pointer;
    margin-bottom: 16px;
}

.custom-checkbox:hover * {
    color: #AD8361;
}

.custom-checkbox:has(.custom-checkbox__field:disabled) {
    opacity: 50%;
    cursor: default;
}

.custom-checkbox:has(.custom-checkbox__field:disabled):hover * {
    color: #090909;
    cursor: default;
}

.custom-checkbox:nth-last-child(-n+2) {
    margin-bottom: 0;
}

.custom-checkbox::before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    height: 14px;
    width: 14px;
    border: 1px solid #AD8361;
    pointer-events: none;
}

.custom-checkbox:has(.custom-checkbox__field:checked)::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 4px;
    height: 6px;
    width: 6px;
    background-color: #AD8361;
    pointer-events: none;
}

.custom-checkbox__label {
    cursor: pointer;
    user-select: none;
}